<div class="armes-artifacts">
  <div class="carousel-container">
    <button class="carousel-arrow left" (click)="prevWeapon()">&#10094;</button>

    <div class="carousel-item">
      <img ngSrc= "{{ currentWeapon.image }}" alt="{{ currentWeapon.name }}" class="carousel-image" [width]="300" [height]="400" *ngIf="currentWeapon?.image"/>
      <div class="description">
        <h2>{{ currentWeapon.name }}</h2>
        <p>{{ currentWeapon.description }}</p>
      </div>
    </div>

    <button class="carousel-arrow right" (click)="nextWeapon()">&#10095;</button>
  </div>
</div>
