/* Styles globaux */
:host {
  display: block;
  min-height: 100vh;
  padding: 5rem 2rem 2rem;
  background-color: #121212;
  color: white;
  position: relative;
  overflow: hidden;
}

/* Conteneur principal */
.destinee-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 2rem;
}

/* Titre */
.title-container {
  text-align: center;
  margin-bottom: 0; /* Pour que le titre soit juste au-dessus de l'image */
  position: relative;
  z-index: 1; /* Pour s'assurer qu'il est au-dessus des particules */
}

.title-container h1 {
  font-size: 2rem;
}

/* Conteneur des choix */
.choice-container {
  display: flex;
  justify-content: space-around; /* Pour espacer les éléments */
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 900px;
  margin: auto;
  margin-top: 20px; /* Ajustez selon vos besoins */
}

/* Choix */
.choice {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  position: relative;
  overflow: hidden;

  &.active {
    transform: scale(1.1);
  }

  &:hover {
    transform: scale(1.05);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }
}

/* Overlay pour les dégradés */
.overlay-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.overlay.left {
  position: absolute;
  top: 0;
  left: 0;
  width: 50vw;
  height: 100vh;
  background: linear-gradient(to right, rgba(56, 0, 89, 0.5), transparent);
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.overlay.left.active {
  opacity: 1;
  animation: heartbeat 3s ease-in-out infinite;
}

.overlay.right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50vw;
  height: 100vh;
  background: linear-gradient(to left, rgba(0, 4, 14, 0.5), transparent);
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.overlay.right.active {
  opacity: 1;
  animation: heartbeat 3s ease-in-out infinite;
}

/* Animation de battement de cœur */
@keyframes heartbeat {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  50% {
    transform: scale(1.05);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

/* Image */
.image-container {
  position: relative; /* Pour s'assurer que l'image est bien positionnée */
  transition: box-shadow 0.5s ease-in-out; /* Transition pour l'effet de brillance */
}

.choice-image {
  width: 250px; /* Ajustez selon vos besoins */
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(255, 255, 255, 0.3);
  transition: transform 0.5s ease-in-out; /* Transition pour l'agrandissement */
}

.image-container:hover {
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.8); /* Effet de brillance */
}

.image-container:hover .choice-image {
  transform: scale(1.08); /* Agrandissement de l'image */
}

/* Effet de fond sombre autour de l'image */
.image-container::before {
  content: "";
  position: absolute;
  top: -20px;
  left: -20px;
  width: calc(100% + 40px);
  height: calc(100% + 40px);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.image-container:hover::before {
  opacity: 1;
}

/* Particules animées */

.particle {
  position: absolute;
  width: 5px; /* Taille du cercle */
  height: 5px; /* Taille du cercle */
  border-radius: 50%; /* Pour faire un cercle */
  background-color: #175aa6; /* Couleur des particules */
  opacity: 0;
  animation: float 4s linear infinite;
  box-shadow: 0 0 5px #182761; /* Pour ajouter un effet de brillance */
}

@keyframes float {
  0% {
    transform: translateY(0) scale(1);
    opacity: 0;
  }
  10% {
    opacity: 0.2;
  }
  20% {
    transform: translateY(-20px) scale(1.1);
    opacity: 0.5;
  }
  40% {
    transform: translateY(-50px) scale(1.2);
    opacity: 0.8;
  }
  60% {
    transform: translateY(-80px) scale(1.1);
    opacity: 0.5;
  }
  80% {
    transform: translateY(-100px) scale(0.9);
    opacity: 0.2;
  }
  90% {
    transform: translateY(-120px) scale(0.8);
    opacity: 0.1;
  }
  100% {
    transform: translateY(-140px) scale(0.7);
    opacity: 0;
  }
}


/* Résultat */
.result {
  margin-top: 2rem;
  font-size: 1.8rem;
  font-weight: bold;
  color: #f5a623;
}
